* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #dfdfdf; */
    background-image: url(images/minimal-background-pattern-wordpress-16.jpg);

    background-attachment: fixed;
    margin: auto;
}

/* CSS NAVBAR */
.main {
    margin: auto;
    position: absolute;
    width: 100%;
    display: flex;
}

.main ul {
    list-style-type: none;
    margin-top: 2%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.main ul li {
    display: inline;
    margin-right: 40px;
}

.main ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
    transition: 0.5s ease;
}

.main ul li a:hover {
    text-shadow: 2px 2px 8px #f0f8ff;
    color:white;
}

.main ul li.active a {
    text-shadow: 2px 2px 8px #8a765d;
    color:aliceblue;
}



/* CSS HEADER */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.836)), url(images/headerphoto.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-right-radius: 30px ;
    border-bottom-left-radius:  30px ;
    box-shadow: 5px 5px 200px black inset;
}

.title h1 {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    border-bottom: 1px solid aliceblue;
}

.sub-title h3 {
    color: aliceblue;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}

/* CSS ABOUT ME */
.about-me {
    background-color: #f5f8fa;
    margin: 6%;
    padding: 5%;
    box-shadow: 5px 10px 8px #888888;
    background-image: url(images/minimal-background-pattern-wordpress-20.jpg);
    background-attachment: fixed;
}

.about-me h1{
    text-align: center;
    font-size: 4vw;
}



.about-me hr {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color:  #8a765d;
    color:  #8a765d;
    height: 2px;
}

.flex-container-about {
    display: flex;
    flex-direction: row;
}

.flex-item-image {
    flex: 10%;
    margin-right: 50px;
}

.flex-item-image img {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.flex-item-text {
    flex: 70%;
   
}

.flex-item-text p{
    font-size: 20px;
    text-align:justify;
    margin-top: 5%;
}

.flex-item-text p b {
    font-size: 30px;
    font-variant: small-caps;
}

/* CSS MY SKILLS */
.my-skills {
    background-color: #f5f8fa;
    margin: 6%;
    padding: 5%;
    box-shadow: 5px 10px 8px #888888;
    background-image: url(images/minimal-background-pattern-wordpress-18.jpg);
    background-attachment: fixed;
}

.my-skills h1 {
    text-align: center;
    font-size: 4vw;
}

.my-skills hr {
    width: 30%;
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  #8a765d;
    color:  #8a765d;
    height: 2px;
}

.flex-container-programming {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
}

.flex-container-database {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
}

.flex-container-other {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%
}

.my-skills h2 {
    margin-bottom: 30px;
    
}

.flex-item-skill-img-1 {
    flex: 33%;
}

.flex-item-skill-img-2 {  
    flex: 33%;
}

.flex-item-skill-img-3 {  
    flex: 33%;
}

.flex-item-skill-img-4 {
    flex: 33%;
}

.flex-item-skill-img-5 {  
    flex: 33%;
}

.flex-item-skill-img-6 {  
    flex: 33%;
}

.flex-item-skill-img-7 {
    flex: 25%;
}

.flex-item-skill-img-8 {  
    flex: 25%;
}

.flex-item-skill-img-9 {  
    flex: 25%;
}

.flex-item-skill-img-10 {  
    flex: 25%;
}


/* CSS MY EXPERIENCE */
.experience {
    background-color: #f5f8fa;
    margin: 6%;
    padding: 5%;
    box-shadow: 5px 10px 8px #888888;
    background-image: url(images/minimal-background-pattern-wordpress-19.jpg);
    background-attachment: fixed;
}

.experience h1 {
    text-align: center;
    font-size: 4vw;
}

.experience hr {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  #8a765d;
    color:  #8a765d;
    height: 2px;
}


.flex-container-experience {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
    margin-left: 8%;
}

.flex-item-exp-1 {
    order: 1;
    flex: 50%;

}

.flex-item-exp-2 {
    order: 2;
    flex:50%;

}

.flex-container-experience .flex-item-exp-1 li {
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.flex-container-experience .flex-item-exp-2 li {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*CSS PROJECTS */
.projects {
    background-color: #f5f8fa;
    margin: 6%;
    padding: 5%;
    box-shadow: 5px 10px 8px #888888;
    background-image: url(images/minimal-background-pattern-wordpress-25.jpg);
    background-attachment: fixed;
}

.projects h1 {
    text-align: center;
    font-size: 4vw;
}

.projects hr {
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  #8a765d;
    color:  #8a765d;
    height: 2px;
}

.flex-container-projects {
    display: flex;
    flex-direction: column;
}

.flex-item-projects-1 {
    display: flex;
    flex-direction: row;
}

.flex-item-image-projects-1 img {
    width: 200px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flex-item-image-projects-1-cont img {
    width: 200px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flex-item-image-projects-1 {
    flex: 20%;
}

.flex-item-image-projects-1-cont {
    flex: 20%;
}

.flex-item-text-projects-1 {
    flex: 60%;
    margin-top: 5%;
    margin-left: 2%;
}

.flex-item-text-projects-1 h3 {
    text-align: justify;
    margin-bottom: 2%;
}

.flex-item-text-projects-1 p {
    text-align: justify;
}

.flex-item-projects-2 {
    display: flex;
    flex-direction: row;
}

.flex-item-image-projects-2 img {
    width: 1500px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
}

.flex-item-image-projects-2 {
    flex: 30%;
}

.flex-item-text-projects-2 {
    flex: 60%;
    margin-top: 5%;
    margin-right: 2%;
}

.flex-item-text-projects-2 h3 {
    text-align: justify;
    margin-bottom: 2%;
}

.flex-item-text-projects-2 p {
    text-align: justify;
}

.flex-item-projects-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 35%;
    margin-top: 5%;
}

.flex-item-image-projects-3 img {
    width: 100px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flex-item-image-projects-3 {
    flex: 20%;
}

.flex-item-text-projects-3 {
    flex: 70%;
    margin-top: 5%;
}

.flex-item-text-projects-3 a {
    text-decoration: none;
    color: black;
    transition: 0.6s ease;
}

.flex-item-text-projects-3 a:hover {
    text-shadow: 5px 5px 6px #8a765d;
}


/* CSS CONTACT */
.contact {
    background-color: #f5f8fa;
    margin: 6%;
    padding: 5%;
    box-shadow: 5px 10px 8px #888888;
    background-image: url(images/minimal-background-pattern-wordpress-8.jpg);
    background-attachment: fixed;
}

.contact hr {
    width: 35%;
    margin-left: 33%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:  #8a765d;
    color:  #8a765d;
    height: 2px;
}

.contact h1 {
    text-align: center;
    font-size: 5vw;
}

.flex-container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container-contact p {
    margin-top: 3%;
}

.flex-container-contact .phone {
    margin: 10px;
}

.flex-container-contact .phone ul li{
    margin-left: 20px;
}

.flex-container-contact .home-address {
    margin: 10px;
}

.flex-container-contact .home-address ul li{
    margin-left: 20px;
}

.flex-container-contact .email-address {
    margin: 10px;
}

.flex-container-contact .email-address ul li{
    margin-left: 20px;
}

.flex-container-contact-right {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.flex-container-contact-right .twitter {
    flex: 33%;
    margin-right: 10%;
}

.flex-container-contact-right .facebook {
    flex: 33%;
    margin-right: 10%;
}

.flex-container-contact-right .instagram {
    flex: 33%;
    margin-right: 10%;
}

footer {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.5s ease;
}

footer a:hover {
    text-shadow: 2px 2px 3px #8a765d;
}

@media (max-width: 800px) {
    .main {
        display:none;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.836)), url(images/headerphoto.jpg);
        height: 80vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }

    .title h1 {
        color: aliceblue;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15vw;
        border-bottom: 1px solid aliceblue;
        
    }
    
    .sub-title h3 {
        color: aliceblue;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
    }
    
    .flex-item-text {
        margin-top: 20px;
    }

    .flex-item-text p{
        font-size: 15px;
        text-align:justify;
        margin-top: 5%;
    }
    
    .flex-item-text p b {
        font-size: 20px;
        font-variant: small-caps;
    }

    .flex-item-text q{
        font-size: 12px;
        margin-left: 10%;
    }

    .flex-item-text i{
        margin-top: 5%;
        font-size: 12px;
    }
    

    .flex-container-about {
        flex-direction: column;
    }

    .flex-item-image img {
        display: block;
        margin-left: 28%;
        margin-right: auto;
    }

    .my-skills h2 {
        font-size: 3vw;
    }

    .flex-container-programming {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 35%;
    }
    
    .flex-container-database {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 35%;
    }
    
    .flex-container-other {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 35%;
    }

    .flex-container-experience {
        display: flex;
        flex-direction: column;
    }

    .flex-container-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .flex-item-projects-1 {
        display: flex;
        flex-direction: column;
    }

    .flex-item-text-projects-1 p {
        margin-bottom: 5%;
    }

    .flex-item-projects-2 {
        display: flex;
        flex-direction: column;
    }

    .flex-item-projects-3 {
        display: flex;
        flex-direction: row;
    }

    .flex-item-text-projects-3 {
        margin-left: 10%;
        margin-top: 7%;
    }
    
}

@media (max-width: 500px) {
    .main {
        display:none;
    }

    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.836)), url(images/headerphoto.jpg);
        height: 50vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }

    .title h1 {
        color: aliceblue;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15vw;
        border-bottom: 1px solid aliceblue;
        
    }
    
    .sub-title h3 {
        color: aliceblue;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
    }

    /*CSS 500px ABOUT*/

    .flex-item-image img {
        display: block;
        margin-left: 10%;
        margin-right: auto;
    }

    .flex-item-text q{
        font-size: 11px;
        margin-left: 5%;
    }

    .flex-item-text i{
        font-size: 11px;
        margin-left: 6%;
        margin-bottom: 2%;
    }

    .flex-item-text p{
        font-size: 15px;
        text-align:justify;
        margin-top: 5%;
    }
    
    .flex-item-text p b {
        font-size: 17px;
        font-variant: small-caps;
    }

    /* CSS 500px SKILLS */
    .flex-container-programming {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 20%;
    }
    
    .flex-container-database {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 20%;
    }

    
    .flex-container-other {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-left: 20%;
    }

    /* CSS 500px EXPERIENCE */
    .flex-item-exp-1 h2 {
        font-size: 22px;
    }

    .flex-item-exp-1 li {
        font-size: 14px;
    }

    .flex-item-exp-2 h2 {
        font-size: 22px;
    }

    .flex-item-exp-2 li {
        font-size: 14px;
    }

    /* CSS 500px PROJECTS*/
    .flex-item-text-projects-1 h3 {
        font-size: 15px;
    }

    .flex-item-text-projects-1 p {
        font-size: 12px;
    }

    .flex-item-text-projects-2 h3 {
        font-size: 15px;
    }

    .flex-item-text-projects-2 p {
        font-size: 12px;
    }

    .flex-item-projects-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 10%;
        margin-top: 12%;
    }

    /* CSS 500px */
    .flex-container-contact-left h2 {
        font-size: 20px;
        text-align: center;
    }

    .flex-container-contact-left li {
        list-style-type:none;
        text-align: center;
        margin-top: 5px;
    }

    .flex-container-contact-right {
        margin-left: 10%;
    }

}